<header class="main-header">
    <h1>Gestão de Salas</h1>

    <nav>
        <a routerLink="/professores" routerLinkActive="active">Professores</a>
        <a routerLink="/disciplinas" routerLinkActive="active">Disciplinas</a>
        <a routerLink="/salas" routerLinkActive="active">Salas</a>
        <a routerLink="/turmas" routerLinkActive="active">Turmas</a>
        <a routerLink="/atribuicoes" routerLinkActive="active">Atribuições</a>

    </nav>
    <a routerLink="/login" routerLinkActive="active">Sair</a>
</header>