<div class="user-list">
    <h2>Lista de Professores</h2>

    @if (this.currentState === 'LOADING') {
    <p class="loading">Carregando professores...</p>
    }

    @if (!listaProfessores.success) {
    <p class="mensagem-erro">
        {{ listaProfessores.message }}<br />
        @if (listaProfessores.error) {
        <small>Erro técnico: {{ listaProfessores.error }}</small>
        }
    </p>
    }

    @if (listaProfessores.success
    && listaProfessores.data !== undefined
    && listaProfessores.data!.length === 0) {
    <p class="empty-state">Nenhum professor encontrado.</p>
    } @else {
    <ul class="lista-simples">
        @for (professor of listaProfessores.data; track professor.id) {
        <li>
            <div class="user-card-horizontal" [style.borderColor]="professor.color">
                <div class="user-info-horizontal">
                    <span class="prof-nome" [style.color]="professor.color"><strong>{{ professor.name }}</strong></span>
                    <span><strong>Username:</strong> {{ professor.username }}</span>
                    <span><strong>Email:</strong> {{ professor.email }}</span>
                    <span><strong>Telefone:</strong> {{ professor.mobilePhone }}</span>
                    <span><strong>Ativo:</strong> {{ professor.isActive ? 'Sim' : 'Não' }}</span>
                    <span><strong>Último Login:</strong> {{ professor.lastLogin }}</span>
                </div>
                <div class="action-buttons">
                    <button class="btn-action btn-edit" type="button" (click)="abrirEdicao(professor)">Editar</button>
                    <button class="btn-action btn-delete" type="button"
                        (click)="excluirProfessor(professor)">Excluir</button>
                </div>
            </div>
        </li>
        }
    </ul>
    }
</div>